<div class="annotation-container">
	<ul>
	  <li ng-repeat="snippet in snippets">
		<div class="annotation-container row">
			<div class="col-md-9 highlight-container">
				<span class="highlight">"{{snippet.highlight}}"</span>
			</div> <!-- snippet -->

			<div class="col-md-3 sidebar-container">
				<div class="comment-container">
					<span class="comment">{{snippet.comment}}</span>
				</div>
				<div class="tag-container">
					<span class=""
				</div>

			</div> <!-- annotation -->

		</div>
	  </li>
	</ul>	
</div> <!-- annotation-container -->